<!DOCTYPE html>
<html>
<head>
</head>

<div class="navbar-container">
        <div class="navbar">
                <p>Time London: {{ currentTimeInLondon }}</p>
        </div>
        <div class="navbarTemp">
                <p>Temp London: {{ temperatureCelsius }}° C</p>
        </div>
</div>








</body>
</html>
